html,
body {
    margin: 30px auto;
    max-width: 800px;
}

.dvTitle {
    margin: 3em 0 1em 0;
    h2,
    h3 {
        text-align: center;
    }
}

.dvAvailableApis {
    position: fixed;
    top: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 60%;
    .dvGetList,
    .dvCreateList,
    .dvGetCount,
    .dvSearch {
        display: inline-block;
        border: 1px solid #ef9a9a;
        padding: 0.5em 1em;
        background-color: #fff;
        &:hover {
            border-color: #e53935;
        }
        a {
            display: block;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }
}